<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<body>
      <!-- sidebar-->
      <aside class="sidebar-container">
        <div class="sidebar-header">
          <div class="pull-right pt-lg text-muted hidden"><em class="ion-close-round"></em></div><a class="sidebar-header-logo" href="#"><img th:src="@{/img/logo.png}" data-svg-replace="/img/logo.svg" alt="Logo"><span class="sidebar-header-logo-text">Centric</span></a>
        </div>
        <div class="sidebar-content">
          <div class="sidebar-toolbar text-center"><a href=""><img class="img-circle thumb64" th:src="@{/img/user/01.jpg}" alt="Profile"></a>
            <div class="mt">Welcome, Willie Webb</div>
          </div>
          <nav class="sidebar-nav">
            <ul>
              <li><a class="ripple" href="/contest"><span class="pull-right nav-label"></span><span class="nav-icon"><img class="hidden" src="" th:data-svg-replace="@{/img/icons/navicon.svg}" alt="MenuItem"></span><span>Contest</span></a></li>
              <li><a class="ripple" href="dashboard.html"><span class="pull-right nav-label"><span class="badge bg-success">2</span></span><span class="nav-icon"><img class="hidden" src="" th:data-svg-replace="@{/img/icons/aperture.svg}" alt="MenuItem"></span><span>Dashboard</span></a></li>
              <li><a class="ripple" href="cards.html"><span class="pull-right nav-label"></span><span class="nav-icon"><img class="hidden" src="" th:data-svg-replace="@{/img/icons/radio-waves.svg}" alt="MenuItem"></span><span>Cards</span></a></li>
              <li><a class="ripple" href="#"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img class="hidden" src="" th:data-svg-replace="@{/img/icons/connection-bars.svg}" alt="MenuItem"></span><span>Charts</span></a>
                <ul class="sidebar-subnav">
                  <li><a class="ripple" href="flot.html"><span class="pull-right nav-label"></span><span>Flot</span></a></li>
                  <li><a class="ripple" href="radial.html"><span class="pull-right nav-label"></span><span>Radial</span></a></li>
                  <li><a class="ripple" href="rickshaw.html"><span class="pull-right nav-label"></span><span>Rickshaw</span></a></li>
                </ul>
              </li>
              <li><a class="ripple" href="#"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img class="hidden" src="" th:data-svg-replace="@{/img/icons/clipboard.svg}" alt="MenuItem"></span><span>Forms</span></a>
                <ul class="sidebar-subnav">
                  <li><a class="ripple" href="forms.classic.html"><span class="pull-right nav-label"></span><span>Classic</span></a></li>
                  <li><a class="ripple" href="validation.html"><span class="pull-right nav-label"></span><span>Validation</span></a></li>
                  <li><a class="ripple" href="forms.advanced.html"><span class="pull-right nav-label"></span><span>Advanced</span></a></li>
                  <li><a class="ripple" href="material.html"><span class="pull-right nav-label"></span><span>Material</span></a></li>
                  <li><a class="ripple" href="editor.html"><span class="pull-right nav-label"></span><span>Editors</span></a></li>
                  <li><a class="ripple" href="dropzone.html"><span class="pull-right nav-label"></span><span>Dropzone</span></a></li>
                  <li><a class="ripple" href="xeditable.html"><span class="pull-right nav-label"></span><span>xEditable</span></a></li>
                  <li><a class="ripple" href="wizard.html"><span class="pull-right nav-label"></span><span>Wizard</span></a></li>
                </ul>
              </li>
              <li><a class="ripple" href="#"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img class="hidden" src="" th:data-svg-replace="@{/img/icons/navicon.svg}" alt="MenuItem"></span><span>Tables</span></a>
                <ul class="sidebar-subnav" id="tables">
                  <li><a class="ripple" href="tables.classic.html"><span class="pull-right nav-label"></span><span>Classic</span></a></li>
                  <li><a class="ripple" href="datatable.html"><span class="pull-right nav-label"></span><span>Datatable</span></a></li>
                  <li><a class="ripple" href="bootgrid.html"><span class="pull-right nav-label"></span><span>Bootgrid</span></a></li>
                </ul>
              </li>
              <li><a class="ripple" href="#"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img class="hidden" src="" th:data-svg-replace="@{/img/icons/grid.svg}" alt="MenuItem"></span><span>Layouts</span></a>
                <ul class="sidebar-subnav" id="layouts">
                  <li><a class="ripple" href="layouts.columns.html"><span class="pull-right nav-label"></span><span>Columns</span></a></li>
                  <li><a class="ripple" href="layouts.overlap.html"><span class="pull-right nav-label"></span><span>Overlap</span></a></li>
                  <li><a class="ripple" href="layouts.boxed.html"><span class="pull-right nav-label"></span><span>Boxed</span></a></li>
                  <li><a class="ripple" href="layouts.tabs.html"><span class="pull-right nav-label"></span><span>Tabs</span></a></li>
                  <li><a class="ripple" href="layouts.containers.html"><span class="pull-right nav-label"></span><span>Containers</span></a></li>
                </ul>
              </li>
              <li><a class="ripple" href="#"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img class="hidden" src="" th:data-svg-replace="@{/img/icons/levels.svg}" alt="MenuItem"></span><span>Elements</span></a>
                <ul class="sidebar-subnav" id="elements">
                  <li><a class="ripple" href="colors.html"><span class="pull-right nav-label"></span><span>Colors</span></a></li>
                  <li><a class="ripple" href="whiteframes.html"><span class="pull-right nav-label"></span><span>Whiteframes</span></a></li>
                  <li><a class="ripple" href="lists.html"><span class="pull-right nav-label"></span><span>Lists</span></a></li>
                  <li><a class="ripple" href="bootstrapui.html"><span class="pull-right nav-label"></span><span>Bootstrap</span></a></li>
                  <li><a class="ripple" href="buttons.html"><span class="pull-right nav-label"></span><span>Buttons</span></a></li>
                  <li><a href="sweetalert.html"><span class="pull-right nav-label"></span><span>Sweet-alert</span></a></li>
                  <li><a class="ripple" href="spinners.html"><span class="pull-right nav-label"></span><span>Spinners</span></a></li>
                  <li><a class="ripple" href="nestable.html"><span class="pull-right nav-label"></span><span>Nestable</span></a></li>
                  <li><a class="ripple" href="grid.html"><span class="pull-right nav-label"></span><span>Grid</span></a></li>
                  <li><a class="ripple" href="grid-masonry.html"><span class="pull-right nav-label"></span><span>Grid Masonry</span></a></li>
                  <li><a class="ripple" href="typography.html"><span class="pull-right nav-label"></span><span>Typography</span></a></li>
                  <li><a class="ripple" href="icons.html"><span class="pull-right nav-label"></span><span>Icons</span></a></li>
                  <li><a class="ripple" href="utilities.html"><span class="pull-right nav-label"></span><span>Utilities</span></a></li>
                </ul>
              </li>
              <li><a class="ripple" href="#"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img class="hidden" src="" th:data-svg-replace="@{/img/icons/planet.svg}" alt="MenuItem"></span><span>Maps</span></a>
                <ul class="sidebar-subnav" id="maps">
                  <li><a class="ripple" href="google-map-full.html"><span class="pull-right nav-label"></span><span>Google Maps Full</span></a></li>
                  <li><a class="ripple" href="google-map.html"><span class="pull-right nav-label"></span><span>Google Maps</span></a></li>
                  <li><a class="ripple" href="vector-map.html"><span class="pull-right nav-label"></span><span>Vector Maps</span></a></li>
                  <li><a class="ripple" href="datamaps.html"><span class="pull-right nav-label"></span><span>Datamaps</span></a></li>
                </ul>
              </li>
              <li><a class="ripple" href="#"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img class="hidden" src="" th:data-svg-replace="@{/img/icons/ios-browsers.svg}" alt="MenuItem"></span><span>Pages</span></a>
                <ul class="sidebar-subnav" id="pages">
                  <li><a class="ripple" href="timeline.html"><span class="pull-right nav-label"></span><span>Timeline</span></a></li>
                  <li><a class="ripple" href="invoice.html"><span class="pull-right nav-label"></span><span>Invoice</span></a></li>
                  <li><a class="ripple" href="pricing.html"><span class="pull-right nav-label"></span><span>Pricing</span></a></li>
                  <li><a class="ripple" href="contacts.html"><span class="pull-right nav-label"></span><span>Contacts</span></a></li>
                  <li><a class="ripple" href="faq.html"><span class="pull-right nav-label"></span><span>FAQ</span></a></li>
                  <li><a class="ripple" href="projects.html"><span class="pull-right nav-label"></span><span>Projects</span></a></li>
                  <li><a class="ripple" href="blog.html"><span class="pull-right nav-label"></span><span>Blog</span></a></li>
                  <li><a class="ripple" href="blog.article.html"><span class="pull-right nav-label"></span><span>Article</span></a></li>
                  <li><a class="ripple" href="profile.html"><span class="pull-right nav-label"></span><span>Profile</span></a></li>
                  <li><a class="ripple" href="gallery.html"><span class="pull-right nav-label"></span><span>Gallery</span></a></li>
                  <li><a class="ripple" href="wall.html"><span class="pull-right nav-label"></span><span>Wall</span></a></li>
                  <li><a class="ripple" href="search.html"><span class="pull-right nav-label"></span><span>Search</span></a></li>
                  <li><a class="ripple" href="messages.html"><span class="pull-right nav-label"></span><span>Messages Board</span></a></li>
                </ul>
              </li>
              <li><a class="ripple" href="#"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img class="hidden" src="" th:data-svg-replace="@{/img/icons/person-stalker.svg}" alt="MenuItem"></span><span>User</span></a>
                <ul class="sidebar-subnav" id="user">
                  <li><a class="ripple" href="login.html"><span class="pull-right nav-label"></span><span>Login</span></a></li>
                  <li><a class="ripple" href="signup.html"><span class="pull-right nav-label"></span><span>Signup</span></a></li>
                  <li><a class="ripple" href="lock.html"><span class="pull-right nav-label"></span><span>Lock</span></a></li>
                  <li><a class="ripple" href="recover.html"><span class="pull-right nav-label"></span><span>Recover</span></a></li>
                </ul>
              </li>
              <li><a class="ripple" href="../../angularjs/"><span class="nav-icon"><em class="ion-android-open"></em></span><span>AngularJS</span></a></li>
            </ul>
          </nav>
        </div>
      </aside>
      <div class="sidebar-layout-obfuscator"></div>
</body>
</html>