<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head th:include="fragments/head::head">
  </head>
  <body class="theme-1">
    <div class="layout-container">
     <th:block th:include="fragments/topnavbar"></th:block>
     <th:block th:include="fragments/sidebar"></th:block>
      <!-- Main section-->
      <main class="main-container">
        <!-- Page content-->
        <section>
          <div class="container-fluid">
            <div class="card">
              <div class="card-heading">Editions List</div>
               <div class="card-body">
                <table class="table-datatable table table-striped table-hover mv-lg" id="emailTable">
                  <thead>
                    <tr>
                      <th>Count</th>
                      <th>From</th>
                      <th>Subject</th>
                      <th>Sent date</th>
                      <th>Received date</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  	<tr th:each="email : ${listEmail}">
                  		<td th:text="${email.emailCount}"></td>
                  		<td th:text="${email.from}"></td>
                  		<td th:text="${email.subject}"></td>
                  		<td th:text="${email.sentDate}"></td>
                  		<td th:text="${email.receivedDate}"></td>
                  		<td><button class="btn btn-primary" type="button" th:onclick="'loadContent(' + ${email.emailCount} + ')'">Show attached</button></td>
                  	</tr>
                  </tbody>
                </table>
               </div>
            </div>
          </div>
        </section>
        <!-- Page footer-->
        <footer><span>2017 - Centric app.</span></footer>
      </main>
    </div>
    
    <!-- Modal content for the above example-->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalAttached">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>
          </div>
          <div class="modal-body">
            <p>Mauris eu lacus massa, vel condimentum lectus.</p>
            
        <!-- Page content-->
        <section>
          <div class="container container-lg">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-heading">Image with text items</div>
                  <div class="mda-list">
                    <div class="mda-list-item"><img class="mda-list-item-img" src="img/user/01.jpg" alt="List user">
                      <div class="mda-list-item-text">
                        <h3><a href="#">Eric Graves</a></h3>
                        <h4>Brunch this weekend?</h4>
                        <p> I&apos;ll be in your neighborhood doing errands</p>
                      </div>
                    </div>
                    <div class="mda-list-item"><img class="mda-list-item-img" src="img/user/02.jpg" alt="List user">
                      <div class="mda-list-item-text">
                        <h3><a href="#">Catherine Crawford</a></h3>
                        <h4>Brunch this weekend?</h4>
                        <p> I&apos;ll be in your neighborhood doing errands</p>
                      </div>
                    </div>
                   </div>
                   </div></div></div></div></section>
          </div>
        </div>
        <!-- /.modal-content-->
      </div>
      <!-- /.modal-dialog-->
    </div>
    <!-- /.modal-->
    <th:block th:include="fragments/scripts"></th:block>
    <script type="text/javascript">
    	function loadContent(c){
    		$('#modalAttached').modal('show');
    	}
    </script>
  </body>
</html>