<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head th:include="fragments/head::head">
  </head>
  <body class="theme-1">
    <div class="layout-container">
     <th:block th:include="fragments/topnavbar"></th:block>
     <th:block th:include="fragments/sidebar"></th:block>
      <!-- Main section-->
      <main class="main-container">
        <!-- Page content-->
        <section>
          <div class="container-fluid">
            <div class="card">
              <div class="card-heading">Editions List</div>
               <div class="card-body">
                <table class="table-datatable table table-striped table-hover mv-lg" id="emailTable">
                  <thead>
                    <tr>
                      <th>Count</th>
                      <th>From</th>
                      <th>Subject</th>
                      <th>Sent date</th>
                      <th>Received date</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  	<tr th:each="email : ${listEmail}">
                  		<td th:text="${email.emailCount}"></td>
                  		<td th:text="${email.from}"></td>
                  		<td th:text="${email.subject}"></td>
                  		<td th:text="${email.sentDate}"></td>
                  		<td th:text="${email.receivedDate}"></td>
                  		<td></td>
                  	</tr>
                  </tbody>
                </table>
               </div>
            </div>
          </div>
        </section>
        <!-- Page footer-->
        <footer><span>2017 - Centric app.</span></footer>
      </main>
    </div>
    <th:block th:include="fragments/scripts"></th:block>
  </body>
</html>