<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head th:include="fragments/head::head">
  </head>
  <script type="text/javascript">
  </script>
  <body class="theme-1">
    <div class="layout-container">
     <th:block th:include="fragments/topnavbar"></th:block>
     <th:block th:include="fragments/sidebar"></th:block>
      <!-- Main section-->
      <main class="main-container">
        <!-- Page content-->
        <section>
          <div class="container-fluid">
            <div class="card">
              <div class="card-heading">Zero configuration</div>
               <div class="card-body">
                <table class="table-datatable table table-striped table-hover mv-lg" id="datatable1">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Contest</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  	<tr th:each="contest : ${listContest}">
                  		<td th:text="${contest.id}"></td>
                  		<td th:text="${contest.descripcion}"></td>
                  		<td><a th:href="'/contest/' + ${contest.id}">show editions</a></td>
                  	</tr>
                  </tbody>
                </table>
            </div>
            </div>
          </div>
        </section>
        <!-- Page footer-->
        <footer><span>2017 - Centric app.</span></footer>
      </main>
    </div>
    <th:block th:include="fragments/scripts"></th:block>
  </body>
</html>