#!/bin/bash

MAVEN_HOME=/home/fmreuser/sft/apache-maven-3.9.11
JAVA_HOME=/home/fmreuser/sft/jdk1.8.0_202

$JAVA_HOME/bin/java -version

$JAVA_HOME/bin/java -jar -DAMAZON_CRED_BUCKETNAME= -DAMAZON_CRED_SECRETKEY= -DAMAZON_CREDS_ACCESSKEY= -DEMAIL_PASSWORD_KEYENCODE= -DFILE_MANAGER_IMPL=FileManagerServiceAwsS3 -DJWT_ISSUER_INFO=http://localhost:8080/ -DJWT_SECRETKEY= -DJWT_TOKEN_EXPIRATIONTIME=864000000 -DMYSQL_DB_PASSWORD= -DMYSQL_DB_URL=jdbc:mysql://DB_HOST:DB_PORT/DB_NAME\?useUnicode=true\&useJDBCCompliantTimezoneShift=true\&useLegacyDatetimeCode=false\&serverTimezone=UTC\&characterEncoding=utf-8 -DMYSQL_DB_USERNAME= -DQRZ_PASSWORD= -DQRZ_USERNAME= ./target/fmrecontest-evaluate-2.0.0.jar

